:root {
  --color-primary: #cca2bb;
  --color-primary-bright: #e38bba;
  --color-primary-light: #f7e9f0;
  --color-primary-dark: #986184;
  --color-secondary: #a98cc1;
  --color-secondary-light: #ccb4df;
  --color-secondary-dark: #725e84;
  --color-background: #fff;
  --color-background-dark: #f3f3f4;


  --font-primary: "Muli", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 600;
  color: var(--color-primary-bright)
}

h2 {
  font-size: 2.1875rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: var(--color-primary);
}

h3 {
  font-size: 1.875;
  line-height: 2rem;
  color: var(--color-primary-bright);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-primary);
  text-align: center;
}

h6 {
  color: var(--color-primary);
}

em {
  font-weight: 600;
}

i {
  font-style: italic;
}

ul {
  color: var(--color-primary);
  list-style-type: none;
  font-weight: 600;
}

::before {
  display: none;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  color: var(--color-primary);
  display: inline-block;
  width: 1em;
  padding-right: 2.5em;
  font-weight: 700;
  text-align: right;
  content: counter(item) ".";
}

a {
  color: var(--color-primary-dark);
}

mark {
  background-color: var(--color-primary-light);
}

em {
  color: var(--color-primary-dark);
}

a {
  text-decoration: none;
}

.dark-bg {
  background-color: var(--color-background-dark);
}
