.product-circle {
  max-height: 200px;
  max-width: 200px;
}

.product-card {
  max-width: 300px;
}

.product-card:hover {
  background-color: var(--color-background-dark);
}

.pink-dark {
  color: var(--color-primary-dark);
}
