---
layout: default
---

<div class="grid">
  <div class="unit xs-1 m-1-2 island">
    <img class="img-flex" src="{{page.image}}" alt="">
  </div>
  <div class="unit xs-1 m-1-2 island">
    <h1 class="push-1-2">{{page.name}}</h1>
    <p class="push">{{page.description}}</p>
    <h3 class="push-1-2">Ingredients</h3>
    {{page.ingredients | join: ", "}}
    <h2 class="giga pad-t">{{page.price}} / {{page.amount}}</h2>
    {% pattern forms/labels label="Amount" %}
    <div class="push">
      {% pattern forms/number-picker %}
    </div>
    {% pattern buttons/submit text="Add to Cart" url="#" %}
  </div>
  <div class="unit xs-1 dark-bg">
    <h2 class="gutter pad-t">Related Products</h2>
    <div class="grid">
      {% for product in site.products limit:3 %}
      <div class="unit unit-content-center xs-1 m-1-3">
        {% pattern cards/product-card data=product %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
